body{
    display: flex;
    flex-direction:row;
    gap:8rem;
    justify-content: center;
    align-items:center;
    background:linear-gradient(to bottom, #1A1A2E, #007BFF);
    background-size: 200% 200%;
    background-attachment:fixed;
    animation: scrollGradient 8s ease infinite;
}

@keyframes scrollGradient{
    0% { background-position: 0% 0%;}
    50% { background-position: 1000% 100%; }
    100% { background-position: 0% 0%; }
}

.main-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
    gap: 1rem;
    width:300px;
    margin-right:75px;
}

.x-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;;
    padding:10px;
    background-color:rgb(18, 18, 84);
    border-radius:13px;
    width:300px;
    margin-left:225px;
    margin-top:145px;
}

.x-container iframe {
  width: 100%;
  max-width: 400px;
  height: 415px;
  border: none;
}

@media (max-width: 974px) {

    body {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  .main-container,
  .x-container {
    margin: 0 auto;
    width: 90%;
  }

  .main-container button {
    width: 100%;
    font-size: 1rem;
  }

}

h1{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button{
    background-color:rgb(98, 94, 94);
    color: white;
    padding: 8px 13px;
    text-align:center;
    border-radius:11px;
    cursor:pointer;
    transition: all 0.1s ease-in-out;
}
button:hover{
    background-color:rgb(53, 52, 52);
}

.logout{
    position:absolute;
    right:20px;
    top:10px;
}