body{
    display: flex;
    flex-direction:row;
    gap:8rem;
    justify-content: center;
    align-items:center;
}
.main-container{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width:300px;
    margin-right:75px;
}

.x-container{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;;
    padding:10px;
    background-color:rgb(18, 18, 84);
    border-radius:8px;
    width:300px;
    margin-left:175px;
}

h1{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button{
    background-color:rgb(98, 94, 94);
    color: white;
    padding: 8px 13px;
    text-align:center;
    border-radius:11px;
    cursor:pointer;
    transition: all 0.1s ease-in-out;
}
button:hover{
    background-color:rgb(53, 52, 52);
}