body{
    background:  #0862a6;
    background-size: 100% 100vh;
    color: white;
    text-align: center;
}

#news-container{
    display:flex;
    justify-content: space-between;
    gap:5px;
}
h1, h2{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie-news, .shows-news {
    width: 35%;
    height:30px;
    color: white;
    padding: 15px;
    margin-right:8px;
    margin-left:8px;
    border-radius: 12px;
}

.movie-news p, .shows-news p{
    font-family:'Times New Roman', Times, serif;
}


.news-card {
    background: #082158;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.news-card a {
    color: gold;
    text-decoration: none;
}

.back{
    position:absolute;
    left: 20px;
    width:75px;
    top:10px;
    background:rgb(90, 90, 90);
    color:white;
    text-align:center;
    padding: 10px 12px;
    border-radius: 12px;
    cursor:pointer;
    transition: background-color 0.3s ease-in-out;
}
@media screen and (max-width: 600px){
    
    .main-container{
        margin: 20px auto 0;
        width: 90%;
    }
}
.back:hover{
    background:rgb(43, 43, 43)
}