body{
    font-family: Arial, sans-serif;
    text-align:center;
    background-color:rgb(120, 175, 243);
    color: white;
}

#mediaContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;

}

.media-card{
    width:300px;
    margin:20px;
    padding:15px;
    background-color: #333;
    border-radius: 9px;
    cursor:pointer;
}

.media-card img{
    width: 92%;
    border-radius:11px;
}

.modal{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    width:400px;
    transform: translate(-50%, -50%);
    height: auto;
    padding: 20px;
    background-color:rgb(121, 138, 195);
    border-radius: 10px;
}

.close{
    position: absolute;
    right: 8px;
    top:8px;
    font-size: 25px;
    text-align:center;
    cursor: pointer;
    background:red;
    color:white;
    width:23px;
    height:23px;
    border-radius:5px;
}

.btn{
    padding:10px 12px;
    background:gray;
    color:white;
    border-radius:12px;
    cursor:pointer;
    transition: all 0.1s ease-in-out;
}

.btn:hover{
    background-color:rgb(53,52,52);
}

.back{
    position:absolute;
    left: 20px;
    width:75px;
    top:10px;
    background:rgb(90, 90, 90);
    color:white;
    text-align:center;
    padding: 10px 12px;
    border-radius: 12px;
    cursor:pointer;
    transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 750px){
    
    .upcoming-container{
        margin: 45px auto 0;
        width: 90%;
    }

    .modal{
        display: none;
        position: fixed;
        left:50%;
        top:50%;
        width:400px;
        max-width:90%;
        box-sizing:border-box;
        transform: translate(-50%, -50%);
        height: auto;
        max-height:90vh;
        overflow-y:auto;
        padding: 20px;
        background-color:rgb(121, 138, 195);
        border-radius: 10px;
    }

}
