<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie and TV Show Review App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="main-content">
        <div class="auth-container">
            <img src="{{ url_for('static', filename="clapperboard.jpg")}}" alt="Clapperboard" class="logo" width="180px" height="180px">
            <button class="btn" onclick="window.location.href='/login'">Login</button>
            <button class="btn" onclick="window.location.href='/signup'">Sign Up</button>
        </div>
    </div>



</body>
</html>
