<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <div class="main-container">
        <button onclick="window.location.href='/discover'">Discover and Review Movies and Shows🎬</button>
        <button onclick="window.location.href='/upcoming'">Upcoming Movies and Shows📽️</button>
        <button onclick="window.location.href='/communityForum'">Latest Movies Info🍿</button>
        <button onclick="window.location.href='/profile'">Profile🦸</button>
    </div>


</body>
</html>