<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <button onclick="window.location.href='{{ url_for('logout')}}'">Logout</button>
    <div class="main-container">
        <button onclick="window.location.href='/discover'">Search and Review Movies and Shows🎬</button>
        <button onclick="window.location.href='/upcoming'">Upcoming Movies and Shows📽️</button>
        <button onclick="window.location.href='/news'">Latest News and Articles🍿</button>
        <button onclick="window.location.href='/profile'">Profile🦸</button>
    </div>
    <div class="x-container">
        <h1>Discussing Film</h1>
        <iframe src='https://widgets.sociablekit.com/twitter-feed/iframe/25562182' frameborder='0' width='300' height='415'></iframe>
    </div>


</body>
</html>