<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
</head>
<body>
    <button class="back" onclick="window.location.href='/main'"><b>🔙Back</b></button>
    <h1>Profile</h1>
    <div id="main-container">
        <div class="reviews-container">
            <h2>Your Reviews</h2>
            {% for review in reviews %}
                <div class="review">
                    <form action="{{ url_for('delete_review', review_id=review.id)}}" method="POST" style="display:inline;" class="delete-form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="delete-btn">❌</button>
                    </form>
                    <strong>{{review.movie_title}}</strong><br>
                    <div class="stars">
                        {% for i in range(1,6)%}
                            {% if i <= review.rating %}
                                <i class="fa-solid fa-star" style="color: gold;"></i>
                            {% else %}
                                <i class="fa-regular fa-star" style="color: gold;"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p>{{review.review_text}}</p>
                    <small>{{ review.created_at.strftime('%Y-%m-%d') }}</small>
                </div>
            {% endfor %}
        </div>
        <div class="saved-container">
            <h2>Your Saved Movies and Shows</h2>
            {% for media in saved %}
                <div class="item">
                    <form action="{{ url_for('delete_saved_media', media_id=media.id) }}" method="POST" style="display:inline;" class="delete-form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="delete-btn">❌</button>
                    </form>
                    <h3><strong>{{ media.title }} ({{ media.release_date.split('-')[0] }})</strong></h3><br>
                    <img src="{{media.poster_url}}" class="poster">
                </div>
            {% endfor %}
        </div>

    </div>
</body>
</html>