<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
</head>
<body>
    <button class="back" onclick="history.back()"><b>🔙Back</b></button>
    <h1>Profile</h1>
    <div id="main-container">
        <div class="saved-container">
            <h2>Your Saved movies and shows</h2>
            <div id="saved"></div>
        </div>
        <div class="reviews-container">
            <h2>Your reviews</h2>
            <div id="reviews"></div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='newsScript.js') }}"></script>
</body>
</html>